.main{
    width: 100%;
    height: 100%;
}
.main-header{

    width: 100%;
    height: 100vh;
    position: relative;
}
.main-header__bg-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.header-advertising{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 74px;
    padding-bottom: 25px;
    max-width: 1200px;

}


.main-header__text-top{
    font-size: 60px;
    font-weight: 800;
    line-height: 115%;
    text-align: left;
    color: black;
    margin: 0;
    padding: 0;
}
.main-header__text-bottom{
    font-size: 60px;
    font-weight: 800;
    line-height: 115%;
    text-align: left;
    color: rgb(227, 1, 15);
    margin: 0;
    padding: 0;
}
.header-advertising-block{
    display: flex;
    flex-direction: column;
    gap: 42px;
    animation: slideInFromLeft 2s ease-out;
}
.advertising-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 1px;
}
.advertising-item{
    display: flex;
    flex-direction: row;
}

.advertising-item__text-money{
    margin-left: 15px;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.advertising-item__text-calendar{
    margin-left: 25px;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.advertising-item__text-awards{
    margin-left: 25px;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.red-dark-color{color: rgb(227, 1, 15)}
.fs-24{font-size: 24px}
.weight600{font-weight: 600}
.weight500{font-weight: 500}
.main-header__sale-block{
    width: 100%;
    max-width: 500px;
    height: 205px;
    background-color: #ffffff;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 17px 0 rgba(0,0,0,0.1);
    margin-bottom: 48px;
    animation: slideInFromRight 1.5s ease-out;
}
.sale-block__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 15px 0 -15px 0;

}
.sale-block__title{
    color: rgb(227, 1, 15);
    font-size: 24px;
    font-weight: 800;
    line-height: 137%;
    text-align: left;
    padding: 0;
    margin: 5px 0;
}
.sale-block__text{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 137%;
    text-align: center;
    padding: 0;
    margin: 5px 0;
}
.sale-block__text_light{
    font-weight: 400;
    margin: 5px 0;
    padding: 0;
}
.sale-block__form{
    width: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.sale-block__form-input{
    padding: 19px 26px;
    border: 1px solid #E3010F;
    border-radius: 5px 0 0 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
}
.sale-block__form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #7d7d7d;
}
.sale-block__form-button{
    border: 1px solid #E3010F;
    background-color: #E3010F;
    border-radius:  0 5px 5px 0;

    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
}
.advantages{
    position: relative;
}
.advantages_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    max-width:1200px ;
    margin:  50px auto;
    border-radius: 10px;
    grid-gap: 62px;
}
.advantages_list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding: 30px 20px;
    border-radius: 10px;
    height: auto;

    box-shadow: 0px 0px 23px 0px rgba(148, 148, 148, 0.17);
    background: rgb(255, 255, 255);
}
.advantages-text{
    text-align: center;
    padding: 0;
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 400;
    line-height: 137%;
    margin: 0;
    padding: 0;

}
.advantages-text-2{
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 350;
    line-height: 137%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Kitchen-choose{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 140px;
}
.kitchen-list_main{
    position: relative;
    z-index: 4;
}
.bg-img-absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
}
.kitchen-choose__block{
    position: relative;
    z-index: 2;
}
.kitchen-choose_text{
    font-weight: 800;
    font-size: 48px;
    line-height: 55.2px;
    color: #0c0c0c;
}
.kitchen-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 25px 35px;
    margin-top: 80px;
}

.border-radius{
    border-radius: 15px 15px 0 0;
    height: auto;
    width: 100%;
    max-width: 100%;
}
.kitchen-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;

    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
}
.kitchen-item:hover .border-radius{
    animation: animationScale 1s ease-in-out;
    animation-fill-mode: forwards;
}
.kitchen-item:hover .card-img-block:after{
    background-color: rgba(0,0,0,0.2);
}
.card-img-block{
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.card-img-block:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: all .8s ease;
}
.kitchen-list__item-img{
    height: auto;
    max-width: 100%;
}
/* .info-box{
    max-width: 300px;
    padding-left: 20px;
    padding-bottom: 23px;

} */
.info-box{
    width: 100%;
    height: 100%;
    max-height: 390px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}
.material{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.price-action{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}
.material_light-text{
    color: rgb(75, 75, 75);
    font-size: 18px;
    font-weight: 400;
    line-height: 115%;
    text-align: left;
}
.material_bold-text{
    padding-left: 10px;
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
}
.price_light-text{
    color: rgb(75, 75, 75);
    font-size: 18px;
    font-weight: 400;
    line-height: 115%;
    text-align: left;
}
.old-price{
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 500;
    line-height: 115%;
    text-align: left;
    padding-left: 10px;

}
.new-price{
    color: rgb(227, 1, 15);
    font-size: 22px;
    font-weight: 599;
    line-height: 115%;
    text-align: left;
    padding-left: 10px;
}
.info-box_buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 201px;
    gap: 15px;
}
.get-catalog{
    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    background: white;
    height: 49px;
    min-width: 201px;
    padding: 10px;
    border: 1px solid rgb(227, 1, 15);
}
.not-find-model{
    width: 100%;
    height: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.not-find-model__text-catalog{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    text-align: left;
}
.not-find-model__second-text{
    font-size: 28px;
    font-weight: 400;
    line-height: 115%;
    text-align: left;
    margin-top: 69px;
}
.not-find-model__second-text-2{
    font-size: 28px;
    font-weight: 400;
    line-height: 115%;
    text-align: left;
    margin-top: 20px;
}
.not-find-model__catalog{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.catalog-list{
    display: flex;
    flex-direction: row;
    gap: 42px;
}
.catalog-item{
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
}
.catalog-list__item-img{
    width: 100%;
}
.catalog-item__info-box{
    padding: 0 20% 0 20px  ;
}
.bold-text{
    color: rgb(12, 12, 12);
    font-size: 23px;
    font-weight: 700;
    line-height: 137%;
    text-align: left;
    margin-top: 18px;
}
.more-than{
    font-size: 18px;
    font-weight: 400;
    line-height: 126%;
    text-align: left;
    margin-top: 10px;
}
.get-catalog_red-button{
    padding:  0 0 29px 20px;
}
.get-catalog_button{
    color: white;
    background: rgb(227, 1, 15);
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    height: 49px;
    min-width: 201px;
    padding: 10px;
    border: 1px solid rgb(227, 1, 15);
}
.hover-text:hover{
    border-bottom: #E3010F;
    border-bottom-style: solid;
    max-width: fit-content;
}
.what-design-box{
    margin: 98px auto;
    max-width: 1200px;
}
.what-design-box__main-text{
    text-align: left;
    max-width: 680px;
}
.what-design-box__main-text-1{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    text-align: left;
}
.what-design-box__main-text-2{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    text-align: left;
    color: #E3010F;
}
.what-design-box__main-text-2:hover{
    border-bottom: #E3010F;
    border-bottom-style: solid;
}
.what-design-box__in-box{
    display: flex;
    flex-direction: row;
    margin-top: 61px;
    gap: 80px;
}
.assistant-box__arrows{
    display: flex;
    flex-direction: row;
    gap: 471px ;
    position: absolute;
    margin: 310px  0 0 -50px;
}
.arrow-white__left{
    transform: rotate(180deg);
}
.assistant-box_text-box{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
    align-items: center;
    padding: 30px 20px;
}
.text-box__main{
    font-size: 36px;
    font-weight: 800;
    line-height: 136%;
    text-align: left;
    text-transform: uppercase;
}
.text-box__main-light{
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 400;
    line-height: 153%;
    text-align: left;
    margin-top: 15px;
    max-width: 335px;
}
.text-box__list-advantages{
    display: flex;
    flex-direction: column;
    max-width: 407px;
    margin-top: 25px;
}
.text-box__list{
    gap: 15px;
}
.text-box__list-item{
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 400;
    line-height: 137%;
    text-align: left;
    margin-top: 15px;
}
.text-box__second-text{
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 400;
    line-height: 153%;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 20px;
    max-width: 316px;
}
.text-box__form-box{
    max-width: 340px;
    border-radius: 10px;
    box-shadow: 0px 0px 23px 0px rgba(148, 148, 148, 0.17);
    background: rgb(255, 255, 255);
}
.what-design-box__form {
    min-width: 300px;
    padding: 20px 35px 1px 35px;
}
.number-box{
    padding: 10px;
    height: 49px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
    background: rgb(249, 249, 249);
    color: rgb(12, 12, 12);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 137%;
    text-align: center
}

.form-box__get-help{
    height: 49px;
    border-radius: 5px;
    background: rgb(227, 1, 15);
    margin: 10px auto;
    text-align: center;
    justify-content: center;

}
.get-help{
    color: white;
    background: rgb(227, 1, 15);
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    height: 49px;
    min-width: 201px;
    padding: 10px;
    border: 1px solid rgb(227, 1, 15);
}
.form-box__your-project{
    height: 49px;
    border-radius: 5px;
    background: white;
    margin: 10px auto;
    text-align: center;
    justify-content: center;

    border: 1px solid rgb(227, 1, 15);
}
.your-project{
    color: black;
    background: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    min-width: 201px;
    padding: 15px;
    border: none;
}
.additional-solutions{
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 120px;
}
.additional-solutions_BG-cover-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
}
.additional-solutions__main-block{
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: 58px auto;
}
.additional-solutions__main-text-block{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.additional-solutions__list-item{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
    margin-top:60px;
    gap: 60px;

}
.additional-solutions_item-img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.additional-solutions__list-item_block{
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
}

additional-solutions_item-img{
    width: 100%;
    height: auto;
}
.additional-solutions__text-block{
    margin-top: 18px;
    padding: 10px 24px 27px 20px;
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;

}
additional-solutions__item-block-text{
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.additional-solutions__button{
    margin-top: 25px;
}
.our-kitchen-block{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}
.our-kitchen-block-text{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    text-align: left;
}
.our-kitchen-block__list-item{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    grid-gap: 60px 50px;
    margin-top: 60px;
}
.our-kitchen-block__item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.our-kitchen-block__text-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.our-kitchen-block__text-box-main{
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.our-kitchen-block__text-box-light{
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 0;
    text-align: left;
}
.our-kitchen-block__buttons{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
    gap: 20px;
}
.amount{
    border-radius: 5px;
    color: white;
    width: 286px;
    height: 49px;
    background: #E3010F;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-style: none;
}
.catalog_get{
    border: 1px solid rgb(227, 1, 15);
    border-radius: 5px;
    height: 49px;
    width: 286px;
    color: #0c0c0c;
    background: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}
 /*section Perfect kitchen*/

.perfect-kitchen{
    width: 100%;
    height: auto;
    position: relative;

}
.perfect-kitchen__Bg-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
}
.perfect-kitchen__block{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 95px auto;
    gap: 40px;
}
.perfect-kitchen__main-text{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left
}
.perfect-kitchen__list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
}
.perfect-kitchen__item{
    max-width: 350px ;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
}
.perfect-kitchen__item-img{
    border-radius: 15px 15px 0 0 ;
}

.perfect-kitchen__item-text{
    padding: 18px 55px 30px 20px;
}

.perfect-kitchen__item__main-text{
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding-bottom: 14px ;

}
.perfect-kitchen__item-bold{
    padding: 10px 0 10px 0;
    color: rgb(12, 12, 12);
    font-size: 16px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.perfect-kitchen__item-light{
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
}
.perfect-kitchen__item-light__link{
    color: #E3010F;
}
.special-item-1{
    margin: 0 0 0 197px;
}
.special-item-2{
    margin: 0 197px 0 0;
}
.reviews{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 74px;
    margin-top: 126px;
    margin-bottom: 120px;
}
.reviews__title{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.reviews__block{
    padding: 40px 45px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: 120px;
    position: relative;
}
.reviews__block__arrows{
    display: flex;
    position: absolute;
    gap: 1150px;
    margin: 150px 0 0 -71px;
}
.reviews__block-text{
    display: flex;
    flex-direction: column;
    gap: 19px;
    max-width: 520px;
}
.reviews__block-text__date{
    color: rgb(129, 129, 129);
    font-size: 16px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.reviews__block-text__name-surname{
    color: rgb(12, 12, 12);
    font-size: 24px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.reviews__block-text__rating{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.reviews__block-text__text{
    color: rgb(12, 12, 12);
    font-size: 16px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0;
    text-align: left;
}
.reviews__block__image{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 29px;
}
.reviews__block-text__get-design{
    height: 49px;
    width: 286px;
    background: #E3010F;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-style: none;
}
.any-questions{
    max-width: 1200px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
    height: auto;
}
.any-questions__main-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: center;
}
.any-questions__main-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.any-questions__main-block__left-block{
    display: flex;
    flex-direction: column;
    padding: 14px 0;
    justify-content: space-between;
    gap: 40px;
}
.any-questions__main-block__left-block__1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 254px;
    gap: 18px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
    padding: 30px 20px;
}
.any-questions__main-block__left-block_txt__1{
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 15px;
}
.any-questions__main-block__left-block__2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 254px;
    gap: 18px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
    padding: 30px 20px;
}
.any-questions__main-block__left-block_txt__2{
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 15px;
}
.any-questions__main-block__right-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 254px;
    gap: 18px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
    padding: 30px 20px;
    margin: auto 0;
}
.any-questions__main-block__center-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.any-questions__main-block__center-block__name{
    margin: 0 auto;
    font-size: 20px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: left;
}
.phone-number{
    width: 100%;
    height: auto;
    position: relative;
}
.phone-number__Bg-img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.phone-number__block{
    position: relative;
    z-index: 2;
    max-width: 770px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}
.phone-number__block__title{
    color: rgb(12, 12, 12);
    font-size: 26px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0;
    text-align: center;
}
.phone-number__block__form-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
}
.phone-number__block__form-box__form{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    width: 290px;
    height: 54px;
}
.phone-number__block__form-box__ask-question{
    width: 290px;
    height: 54px;
    background: #E3010F;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border-style: none;
}
.map{
    width: 100%;
    height: auto;
}
.map-box{
    max-width: 1200px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.map-box__title{
    color: rgb(12, 12, 12);
    font-size: 48px;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: 0;
    text-align: center
}
